*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 10vh;
}
.calculator {
  width: 350px;
  height: 440px;
  margin: 50px auto;
  text-align: center;
  padding: 30px 0px;
  background-color: #CBCBCB;
  border-radius: 8px;
  box-shadow: 0 0px 8px #000;
 
}

#display {
  border-radius: 5px;
  outline: none;
  border: none;
  opacity: .9;
  margin-top:15px;
  width: 90%;
  height: 65px;
  font-size: 28px;
  text-align: right;
  background-color: #f9f5f5;
  color: #0a0a0a;  
}

.buttons {
  padding: 15px 10px;
  margin-left: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;  
}

button {
  width: 90%;
  height: 60px;
  font-size: 25px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #f9f5f5;
  border: 1px solid #0a0a0a;
  cursor: pointer;
  border: none;  
}

button:hover {
  background-color: #bdb9b9;
}
.black:hover{
  background-color: #181717;

}
.red-c:hover{
background-color: rgb(166, 10, 10);
}
.black{
  background-color: #3b3b3b;
  color: #fff;
}
.red-c{
  background-color: rgb(209, 35, 35);
  color: #fff;
}
